.loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 15px solid #ffe66d;
    border-top: 15px solid #4ecdc4;
    animation: spinAnimate 2s ease-in-out 0s infinite alternate-reverse;
}

@keyframes spinAnimate{
    from{
        transform: rotate(0deg);
    }to {
        transform: rotate(360deg);
    }
}